@use 'theme';
@use 'thumbnail';

.choice{
	padding: 10px 20px 10px 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	background-color: theme.$backgroundlighter;
	border: 1px solid theme.$accentsofter;
	@include theme.boxshadow;
}

button{
	height: 40px;
	border-radius: 0px;
}

button.enabled{
	color: theme.$textcolor;
	background-color: theme.$backgroundlight;
	border: 2px solid theme.$accent;
}

button.disabled{
	color: theme.$textcolor;
	background-color: darkgray;
	border: 2px solid theme.$accent;
}

button.enabled:hover{
	background-color: theme.$hoveraccent;
}

button.enabled:active{
	background-color: theme.$background;
	color: lightgray;
}

.requirements{
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: flex-end;
	float: right;
	/*background-color: blueviolet;*/
}

.requirement{
	@include thumbnail.thumbnail;
}

.fulfilled{
	@include thumbnail.normal-outline;
}

.unfulfilled{
	@include thumbnail.disappointment-outline;
}

.choice::after{
	content: '';
	clear: both;
	display: table;
}