@use 'thumbnail';
@use 'theme';

#results{
	#consequences{
		width: 80%;
		margin-left: 10%;
	}

	.consequence{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		background-color: theme.$backgroundlighter;
		border: 1px solid theme.$accentsofter;
		margin-bottom: 10px;
		padding: 10px;
		width: 100%;
		box-sizing: border-box;
		@include theme.boxshadow;

		img{
			@include thumbnail.thumbnail;
			@include thumbnail.normal-outline;
		}

		p{
			font-weight: bold;
		}
	}

	button{
		float: right;
		margin-bottom: 10px;
		background-color: theme.$background;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	button:hover{
		background-color: theme.$backgroundlighter;
	}
}

#results::after{
	content: '';
	clear: both;
	display: table;
}