@use 'sass:color';

$background: #0b1728;
$backgroundlight: color.scale($background, $lightness: +10%);
$backgroundlighter: color.scale($background, $lightness: +20%);;
$accent: hsl(39, 34%, 50%);
$accentsofter: color.scale($accent, $lightness: -30%);
$hoveraccent: darkgray;
$textcolor: white;

@mixin boxshadow{
	box-shadow: 5px 5px 0px 0px $background;
}