@use 'fonts';
@use 'choice';
@use 'theme';
@use 'results';
@use 'tooltip';

.container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: #162D50;
	display: grid;
	grid-template-columns: 80% 20%;
	grid-column-gap: 0em;
	grid-row-gap: 0em;
}

body{
	overflow: hidden; /* Maybe this will help fix the tooltip bugs. */
}

#story{
	background-color: theme.$background;
	background-image: url(assets/background.svg);
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	overflow-y: scroll;
	height: 100%;
	padding: 10px 20px 10px 20px;
	box-sizing: border-box;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
/*#story::-webkit-scrollbar,*/ #inventory::-webkit-scrollbar {
	display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
/*#story,*/ #inventory {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#room, #results{
	max-width: 800px;
	width: 80%;
	/*min-height: 90%;*/
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	background-color: theme.$backgroundlight;
	box-sizing: border-box;
	padding: 10px 10px 1px 10px;
	border: 1px solid theme.$accentsofter;
}

#inventory{
	background-color: theme.$background;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(8, 1fr);
	display: grid;
	padding: 5px;
	overflow: scroll;
}

.varimage{
	margin: 5%;
	height: 90%;
	width: 90%;
	border: 2px solid theme.$accent;
	/*margin-bottom: 10px;*/
}

#roomInfo{
	padding: 10px 20px 10px 20px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: theme.$backgroundlighter;
}

* {
	font-family: Charter;
	white-space: pre-line; /*fight the evil react*/
	color: theme.$textcolor;
}